DB_HOST=junction.proxy.rlwy.net
DB_PORT=27301
DB_USER=root
DB_PASSWORD=TriiM.....
DB_NAME=railway
GOOGLE_DRIVE_ROOT_FOLDER_ID=1LfQxNaki0yQyX
GOOGLE_DRIVE_API_KEY=AIzaSyAleNW9Fhhf_3abphXnmRZưnn5C0W0
GOOGLE_DRIVE_ACCESS_TOKEN="ya29.a0AQvPyIOKVYi8d-OMtN0ZadjdaBGlZz-SgWHhVzwWxtherk7c7lfYW"
GOOGLE_CLIENT_ID="226218826175-mhsan4hr1r4vcso4od917ccutent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-tGhODFtny2QSHuGDCx"
GOOGLE_REFRESH_TOKEN="1//04x3A73H0-1jnW7BlW_xMnQtXIiJNdâdad6etS54hBdN0igE"
DOCUMENT_UPLOADER_EMAIL=admin@tlu.edu.vn

#Key POLLINATIONS AI:
POLLINATIONS_API_KEY=sk_xbEiLecesDYaP6lb4IeRuHOMk058MJzU

# GEMINI_API_KEY=AQ.Ab8RN6IukRZWNO6
PINECONE_API_KEY=pcsk_3rDUV6_ApVrWUeeYowydudcdnpS
PINECONE_INDEX_NAME=tlu-document-chatbot

CHATBOT_MODEL=openai
CHATBOT_MAX_OUTPUT_TOKENS=1600
# Nếu muốn lưu lịch sử chat, thay 1 bằng user_id hợp lệ trong bảng users
CHATBOT_HISTORY_USER_ID=1

# HuggingFace (For Plan C - Local/Free Vector RAG)
HUGGINGFACE_TOKEN=hf_hTKHBmzqjAU
